h1 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;  
}

.open-modal {
    display: flex;
    align-self: center;
    margin-bottom: 25px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;

}

.modal-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.open-modal {
    cursor: pointer;
}

.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
}
.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;

}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#row1, #row2, #row3, #row4, #row5, #row6 {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
    
}

.sqr {
    width: 7.5%;
    aspect-ratio: 1/1;
    border: 5px solid black;
    text-align: center;
    font-size: 60px;
}

.virtual-keyboard {
    margin-top: 50px;
}

.key {
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    width: 50px;
    height: 75px;
    border: none;
    border-radius: 5px;
}

.kbd-row1, .kbd-row2, .kbd-row3 {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}
